- @src/api/api-models.ts: 定义了系统中使用的数据模型
- @src/api/query.ts: 提供了API请求的基础函数
- @src/api/account.ts: 账户管理相关API

## 主要目录结构

- `src/`: 源代码目录
  - `api/`: API调用和模型定义
  - `assets/`: 静态资源文件
  - `client/`: 客户端相关组件和服务
  - `components/`: Vue组件
  - `composables/`: Vue组合式API函数
  - `data/`: 数据相关模块，包括聊天和弹幕客户端
  - `router/`: 路由配置
  - `store/`: 状态管理
  - `views/`: 页面视图组件
    - `open_live/`: 直播相关视图，包括点歌系统
    - `obs/`: OBS相关视图组件
- `public/`: 公共静态资源

## 项目使用的库

- @vueuse/core: 提供了一系列的 Vue 3 的实用函数
- @vicons/fluent: 图标
- naive-ui: 组件库
- pinia: 状态管理
- vue-router: 路由
- vue-echarts: 图表
